*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF676D;
}
.box{
    max-width: 400px;
    width: 100%;
    height: 50px;
    
}
.box .search_box{
    width: 40px;
    height: 30px;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    transition: all 0.3s ease;
}
#check:checked~.search_box{
    width: 380px;
}
.search_box input{
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 25px;
    padding-left: 15px;
    font-size: 24px;
}
.search_box .icon{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    color: #ff676d;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    transition: all 0.3s ease;
}
#check:checked~.search_box .icon{
    color: #fff;
    background-color: #ff676d;
    border-radius: 0 25px 25px 0;
}
#check{
    display: none;
}